:root {
    --main-color: #1A1A1A #252525;
    --dourado: #C5A358;
}

body {
    background-color: #1A1A1A;
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 90%;
    width: 100%;
    white-space: nowrap;

    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 30px 40px;
}

header img {
    height: clamp(20px, 5vh, 90px);
    width: clamp(20px, 5vh, 90px);
}

.logo {
    display: flex;
    align-items: end;
}

h1 {
    color: var(--dourado);
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}

h2 {
    color: var(--dourado);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.header-a {
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    gap: clamp(1rem, 5vh, 10rem);
}

.header-a a {
    transition: transform 0.3s ease;
}

.header-a a:hover {
    transform: scale(1.1);
}


.download {
    color: black;
    background-color: #C5A358;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 30%;
    font-size: clamp(5px, 2vh, 40px);
    gap: clamp(1rem, 1vh, 3rem);
    padding: 5px;
    border-radius: 100cap;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease-in-out;
    margin-top: 3%;
    margin-left: 5rem;
    white-space: nowrap;
    box-shadow: 0 0 25px rgb(255, 251, 0);
    animation: pulse 1.5s infinite;
    border: 2px solid #e1ff00cb;
}

.download img{
    height: 4rem;
    width: 4rem;
}

.download:hover{
    transform: scale(1.1);
    border-color: #ffea00;
    box-shadow: 0 0 15px rgb(255, 234, 0);
}

.estacionamento {
    width: 100%;
    height: 70%;
    background-image: url(./img/Estacionamento1.3.png);
    background-color: #1A1A1A;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    padding: 8rem;
    margin-top: 3rem;
}

.estacionamento p {
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    font-family: "Poppins", sans-serif;
}

.estacionamento span {
    color: var(--dourado);
    font-size: 20px;
    padding-left: 5em;
    font-family: "Poppins", sans-serif;
    display: flex;
}