:root {
    --main-color: #1A1A1A #252525;
    --dourado: #C5A358;
}

body {
    background-color: #1A1A1A;
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 90%;
    width: 100%;
    white-space: nowrap;

    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 30px 40px;
}

header img {
    height: clamp(20px, 5vh, 90px);
    width: clamp(20px, 5vh, 90px);
}

.logo {
    display: flex;
    align-items: end;
}

h1 {
    color: var(--dourado);
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}

h2 {
    color: var(--dourado);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.header-a {
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    gap: clamp(1rem, 5vh, 10rem);
}

.header-a a {
    transition: transform 0.3s ease;
}

.header-a a:hover {
    transform: scale(1.1);
}

h3 {
    color: white;
    font-size: 30px;
    margin: 5rem;
    font-family: "Poppins", sans-serif;
}


main{
    background-color: #1A1A1A;
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.container-cinza {
    width: 1050px;
    height: 500px;
    background-color: #D9D9D9;
    border-radius: 10px;

}