:root {
    --main-color: #1A1A1A #252525;
    --dourado: #C5A358;
}

body {
    background-color: #1A1A1A;
    height: 100%;
    max-width: 90vw;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 90%;
    width: 100%;
    white-space: nowrap;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 30px 40px;
}

header img {
    height: clamp(20px, 5vh, 90px);
    width: clamp(20px, 5vh, 90px);
}

.logo {
    display: flex;
    align-items: end;
}

h1 {
    color: var(--dourado);
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}

h2 {
    color: var(--dourado);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.header-a {
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    gap: clamp(1rem, 5vh, 10rem);
}

.header-a a {
    transition: transform 0.3s ease;
}

.header-a a:hover {
    transform: scale(1.1);
}


.download {
    color: black;
    background-color: #C5A358;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 30%;
    font-size: clamp(5px, 2vh, 40px);
    gap: clamp(1rem, 1vh, 3rem);
    padding: 5px;
    border-radius: 100cap;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease-in-out;
    margin-top: 3%;
    margin-left: 5rem;
    white-space: nowrap;
    box-shadow: 0 0 25px rgb(255, 251, 0);
    animation: pulse 1.5s infinite;
    border: 2px solid #e1ff00cb;
    font-weight: bold;
}

.download img {
    height: 4rem;
    width: 4rem;
}

.download:hover {
    transform: scale(1.1);
    border-color: #ffea00;
    box-shadow: 0 0 15px rgb(255, 234, 0);
}

.background-estacionamento {
    width: 100%;
    height: 70%;
    background-image: url(./img/Estacionamento1.3.png);
    background-color: #1A1A1A;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    padding: 8rem;
    margin-top: 3rem;
}

.background-estacionamento p {
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    font-family: "Poppins", sans-serif;
}

.background-estacionamento span {
    color: var(--dourado);
    font-size: 20px;
    padding-left: 5em;
    font-family: "Poppins", sans-serif;
    display: flex;
}


h3 {
    color: white;
    font-size: 30px;
    margin: 5rem;
    font-family: "Poppins", sans-serif;
}

.sobre span {
    color: white;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.sobre1 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: white;
    border: 2px solid #00d9ffcb;
    transition: all 0.3s ease-in-out;
    padding: 3rem;
    border-radius: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.sobre1 p {
    margin-bottom: 3rem;
}

.sobre1 span {
    font-size: 20px;
}

.sobre1:hover {
    border-color: #051eff;
    box-shadow: 0 0 15px rgba(0, 135, 245, 0.4);
}

.sobre2 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: white;
    border: 2px solid #C5A358;
    padding: 3rem;
    border-radius: 3rem;
    margin-bottom: 5rem;
    transition: all 0.3s ease-in-out;
}

.sobre2 p {
    margin-bottom: 5rem;
}

.sobre2 span {
    font-size: 20px;
}

.sobre2:hover {
    border-color: #fffc50;
    box-shadow: 0 0 15px rgba(255, 190, 0, 0.4);
}


.sobre3 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: white;
    border: 2px solid #6708ff;
    padding: 3rem;
    border-radius: 3rem;
    margin-bottom: 5rem;
    transition: all 0.3s ease-in-out;
}

.sobre3 p {
    margin-bottom: 3rem;
}

.sobre3 span {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.sobre3:hover {
    border-color: #6708ff;
    box-shadow: 0 0 15px rgb(21, 4, 255);
}


.servicos {
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

.avaliacao {
    border: 2px solid #ffee00;
    box-shadow: 0 0 15px #ffee00;
    text-align: left;
    padding: 3rem;
    border-radius: 3rem;
}

.avaliacao img{
    width: 10%;
}

.avaliacao p {
    margin-top: 3rem;
}

.serv,
.preço,
.preço2 {
    margin-top: 5rem;
}

.localização {
    color: white;
    font-size: 20px;
    margin-top: 10rem;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
}

.sp,
.rj {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 40%;
    width: 20%;
    border-radius: 1rem;
    border: 3px solid #C5A358;
    font: 40px;
    color: white;
}

.sp {
    background-image: url(./img/Sp.png);
}

.sp span,
.sp p {
    margin: clamp(1rem, 1vw, 4rem);
    white-space: nowrap;
}

.rj {
    background-image: url(./img/Rj.png);
}

.rj span,
.rj p {
    margin: clamp(1rem, 1vw, 4rem);
    white-space: nowrap;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding-top: 1rem;
    margin-top: 10rem;
}

footer p {
    font-size: clamp(5px, 1.5vh, 40px);
    color: white;
    white-space: nowrap;
}

.logo-footer {
    font-size: clamp(10px, 1.5vh, 30px);
    color: var(--dourado);
}

.logo-footer img {
    width: 1%;
    height: 1%;
}

.social-footer {
    align-items: center;
}

@keyframes pulse {
    100% {
        transform: scale(1);
        opacity: 0.7;
    }

    200% {
        transform: scale(1.1);
        opacity: 90%;
    }
}

@media (max-width: 768px) {

    header {
        padding: 10px 10px;
    }

    .header-a{
        font-size: clamp(0.7rem, 1vw, 1rem);
    }

    h1 {
        font-size: 30px;
    }

    .background-estacionamento p{
        font-size: clamp(2rem, 5vw, 5rem);
    }

    .download{
        font-size: clamp(0.5rem, 2vw, 2rem);
        width: 50%;
    }

    .avaliacao img{
        width: 10%;
    }

    .sp p, .rj p{
        margin: 10px;
        font-size: 1rem;
    }

    .sp span, .rj span{
        font-size: 1rem;
    }

    footer p{
        margin-right: 50px;
    }

    .logo-footer img{
        width: 10%;
    }

    .social-footer{
        width: 40%;
    }
}

@media (max-width: 425px) {

    .logo img{
        height: 15px;
        width: 15px;
    }

    .header-a{
        gap: 0.3rem;
    }

    h1{
        font-size: 10px;
    }

    h2{
        font-size: 10px;
    }

.background-estacionamento{
    padding: 30px;
    margin-top: 15px;
}

.background-estacionamento p{
    font-size: 20px;
    padding-left: 10px;
    padding: 10px;
}

.background-estacionamento span{
    font-size: 15px;
    padding-left: 10px;
    padding: 10px;
}

.download{
    margin-left: 10px;
    padding: 10px;
}

.download img{
    height: 5%;
    width: 10%;
}

h3{
    margin: 1rem;
    font-size: 20px;
}

.sobre span{
    margin: 1rem;
}

.produto{
    font-size: 20px;
}

.serv, .preço, .preço2{
    margin: 10px;
}

.avaliacao{
    padding: 15px;
}

.localização{
    margin-top: 5rem;
}

.rj, .sp, .loc{
display: none;
}

footer{
    margin-top: 0px;
}

footer p{
    margin-right: 20px;
}

.logo-footer{
    margin-right: 20px;
}

.social-footer img{
    height: 15px;
    width: 15px;
}

}