*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    margin: auto;
    height: 100%;
    max-width: 90%;
    background-color: #1A1A1A;
}